langchain==0.3.25
langchain-core==0.3.83
langchain-groq==0.3.2
langchain-community==0.3.24
langchain-tavily==0.1.6
langchainhub==0.1.21
streamlit==1.38.0
python-dotenv==1.2.1
wikipedia==1.4.0
tavily-python==0.7.22
