langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.58
langchain-groq==0.3.2
langchain-tavily==0.1.6
langchainhub==0.1.21
langsmith==0.3.45
groq==0.37.1
tavily-python==0.7.22
streamlit==1.38.0
python-dotenv==1.2.1
wikipedia==1.4.0
